<!doctype html>
<title>Hello-Burrito 🌯</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
  <h1>San Diego 🌯Burrito🌯 Buddy</h1>
  <p>
  	TODO: Intro Goes Here
  </p>
  <TABLE>
  	<tr>
	  	<th>
			Pick a Burrito here:
		</th>
	</tr>
	<tr>
		<td>
			<form method="POST">
				{{burrito_picker.pick}}
				<br>
				{{burrito_picker.submit}}
			</form>
		</td>
	</tr>
	<tr>
		<th>
			It's Buddies are:
		</th>
	</tr>
	<tr>
		<td>
			{{neighbors}}
		</td>
	</tr>
  </TABLE>
  <h3>Why?</h3>
  <p>
  	TODO: put the justification here, probably should link to the <a href="https://www.kaggle.com/srcole/burritos-in-san-diego">original dataset</a> and some videos about San Diego burritos. 
  </p>
</div>
