<!doctype html>
<title>Hello-Burrito 🌯</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
  <h1>San Diego 🌯Burrito🌯 Buddies</h1>
  <p>
  	TODO: Intro Goes Here
  </p>
  <TABLE>
  	<tr>
  		<th>
  			Pick a Burrito here:
  		</th>
  		<th>
  			It's Buddies are:
  		</th>
  	</tr>
  	<tr>
  		<td>
  			this is where the SELECT element goes
  		</td>
  		<td>
  			this is where the results display in...a nested table?
  		</td>
  	</tr>	
  </TABLE>
  <h3>Why?</h3>
  <p>
  	TODO: put the justification here, probably should link to the <a href="https://www.kaggle.com/srcole/burritos-in-san-diego">original dataset</a> and some videos about San Diego burritos. 
  </p>
</div>
